<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @thesis.title %>
</p>

<p>
  <strong>Abstract:</strong>
  <%= @thesis.abstract %>
</p>

<p>
  <strong>Defended:</strong>
  <%= @thesis.defended %>
</p>

<p>
  <strong>Faculty:</strong>
    <%= link_to @thesis.faculty.name, faculty_path(@thesis.faculty) %>
</p>

<p>
  <strong>Person:</strong>
  <% if @thesis.person then %>
    <%= link_to @thesis.person.name + " " + @thesis.person.surname, person_path(@thesis.person) %>
  <% end %>
</p>

<%= link_to 'Edit', edit_thesis_path(@thesis) %> |
<%= link_to 'Back', theses_path %>
