<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @faculty.name %>
</p>

<p>
  <strong>Code:</strong>
  <%= @faculty.code %>
</p>

<p>
  <strong>Theses list:</strong><br />
  <% @faculty.theses.each do |t| %>
    <%= link_to t.title, thesis_path(t) %>
    <%= link_to " by " + t.person.name + " " + t.person.surname, person_path(t.person) if t.person %><br />
  <% end %>
</p>

<%= link_to 'Edit', edit_faculty_path(@faculty) %> |
<%= link_to 'Back', faculties_path %>
